#sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

#help-text {
    border: 5px solid black;
    position: absolute;
    top: 0%;
    left: 50%;
    padding-left: 24px;
    width: 576px;
    transform: translate(-50%);
}

#controls {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
}
